@font-face {
    font-family: "Roboto Flex";
    src: url("https://digitalupgrade.com/images/misc/RobotoFlex-VariableFont_GRADXTRAYOPQYTASYTDEYTFIYTLCYTUCopszslntwdthwght.woff2") format("woff2"); }
.group-hover\:transition-transform {
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    animation-direction: alternate; }

.num {
    font-size: 10rem;
    line-height: 0.9;
    font-weight: 550;
    font-variation-settings: "wdth" 35, "YTFI" 788; }

.stretch {
    font-weight: 500;
    font-variation-settings: "wdth" 35;
    writing-mode: vertical-rl; }
.logo{
    font-family: 'Rubik', serif;
    font-size: 20px;
    font-weight: 900;
}

.navbar-mobile .logo{
    padding: 17px
}

.navbar-web{
    margin: 50px auto auto;
    padding: 17px;
    max-width:1300px;
    display: flex;
}

.navbar-tab{
    margin: 50px auto auto;
    width:90%;
    display: flex;
}

.navbar-mobile{
    margin-top: 50px;
    left: 2px;
    width:90%;
    display: flex;
}

.navbar-mobile li{
    list-style: none;
}

.navbar-left{
    display: flex;
}

.navbar-middle a{
    margin-right: 20px;
    font-size: 14px;
}

.navbar-right{
    padding-top: 8px;
    text-align: right;
    display: flex;
}

.navbar-web .nav-buttons{
    display: flex;
}



@media only screen and (min-width:430px) {
    .navbar-mobile .nav-buttons{
        display: flex;
    }
}

@media only screen and (max-width:429px) {
    .navbar-mobile .nav-buttons{
        display: block;
    }
}

.navbar-web  button{
    width: 140px;
    height: 40px;
    border-radius: 8px;
    border: 0;
    margin: auto auto auto 10px;
}

.navbar-mobile button{
    width: 140px;
    height: 40px;
    border-radius: 8px;
    border: 0;
    margin: 10px auto auto;
}

.discord{
    background-color: black !important;
}

.spotify{
    background-color: #1DB954 !important;
}

.spotifylogo{
    margin: auto;
    height: 30px;
}

.discordlogo{
    margin: auto;
    height: 23px;
}


.navbar-mobile .menu-items {
    display: flex;
}

.navbar-mobile .checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 7px;
    left: 95%;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
}

.navbar-mobile .hamburger-lines {
    height: 26px;
    width: 32px;
    position: absolute;
    top: 9px;
    left: 95%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navbar-mobile .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #0e2431;
}

.navbar-mobile .hamburger-lines .line1 {
    transform-origin: 0 0;
    transition: transform 0.4s ease-in-out;
}

.navbar-mobile .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
}

.navbar-mobile .hamburger-lines .line3 {
    transform-origin: 0 100%;
    transition: transform 0.4s ease-in-out;
}

.navbar-mobile .menu-items {
    padding-top: 120px;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    width: 100%;
    transform: translate(-150%);
    flex-direction: column;
    padding-left: 50px;
    transition: transform 0.5s ease-in-out;
    text-align: center;
    display: none;
}

.navbar-mobile .menu-items li {
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
    font-weight: 500;
}

input[type="checkbox"]:checked ~ .menu-items {
    display: block;
    transform: translateX(0);
}

input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
}

input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
}

input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
}

input[type="checkbox"]:checked ~ .logo{
    display: none;
}

@media only screen and (min-width: 1061px) {
    .navbar-middle{
        display: flex;
        margin-left: 120px;
        padding-left: 20px;
    }
}

@media only screen and (min-width: 970px) and (max-width: 1060px) {
    .navbar-middle{
        display: flex;
        margin-left: 20px;
        padding-left: 20px;
    }
}

@media only screen and (min-width: 970px) {
    .navbar-web{
        display: flex;
    }
    .navbar-mobile{
        display: none;
    }
}

@media only screen and (max-width: 969px) {
    .navbar-web{
        display: none;
    }
    .navbar-mobile{
        display: block;
    }
}
body{
    background-color: #FFF4F4;
    font-size: clamp(14px, 0.875rem + ((1vw - 3px) * 0.156), 16px);
    color: black;
}
a{
    color: black;
    text-decoration: none;
}
a:hover{
    color: black;
}

.welcome{
    max-width: 1300px;
    margin: 75px auto auto;
    padding: 17px;
}

.welcome h3{
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: underline;
}

.welcome h2{
    display: block;
    font-size: clamp(42px, 2.629rem + ((1vw - 3px) * 2.963), 80px);
    font-style: normal;
    font-weight: 900;
    line-height: 1.1;
    text-transform: uppercase;
    text-decoration: underline;
}

.social-welcome h2{
    display: block;
    font-size: clamp(42px, 2.629rem + ((1vw - 3px) * 2.963), 80px);
    font-style: normal;
    font-weight: 900;
    line-height: 1.1;
    text-transform: uppercase;
    text-decoration: none !important;
}

.spotify-title-text{
    display: block;
    font-size: clamp(30px, 2.629rem + ((1vw - 3px) * 2.963), 10px);
    font-style: normal;
    font-weight: 900;
    line-height: 1.1;
    text-transform: uppercase;
    text-decoration: underline;
}

.spotify-texts{
    font-family: 'Rubik', serif;
}

.twitch{
    background-color: #9146FF;
}

.youtube{
    background-color: #FF0000;
}

@media only screen and (min-width: 1300px) {
    .spotify-div{
        padding: 17px;
        display: flex;
        max-width: 1300px;
        margin: auto;
        justify-content: center;
        align-items: center;
        height: max-content;
    }
    .spotify-text{
        width: 50%;
        align-items: center;
        height: max-content;
        font-weight: 900;
    }

    .spotify-player{
        width: 50%;
        align-items: center;
        height: max-content;
    }
    iframe{
        margin: auto;
        border-radius:12px;
        width: 100%;
        height: 351px;
    }
}

@media only screen and (min-width: 1000px) and (max-width: 1299px) {
    .spotify-div{
        padding: 17px;
        display: flex;
        margin: auto;
        justify-content: center;
        align-items: center;
        height: max-content;
    }
    .spotify-text{
        width: 50%;
        align-items: center;
        height: max-content;
        font-weight: 900;
    }

    .spotify-player{
        width: 50%;
        align-items: center;
        height: max-content;
    }
    iframe{
        margin: auto;
        border-radius:12px;
        width: 496px;
        height: 279px;
    }
}

@media only screen and (min-width: 660px) and (max-width: 999px) {
    .spotify-div{
        padding: 17px;
        margin: auto;
    }
    .spotify-text{
        margin: auto;
        width: 80%;
        align-items: center;
        height: max-content;
        font-weight: 900;
        padding: 10px;
    }

    .spotify-player{
        margin: auto;
        width: 80%;
        align-items: center;
        align-self: center;
        height: max-content;
        padding: 10px;
    }
    iframe{
        margin: auto;
        border-radius:12px;
        width: 496px;
        height: 279px;
    }
}

@media only screen and (max-width: 659px) {
    .spotify-div{
        padding: 17px;
        display: block;
        margin: auto;
        justify-content: center;
        align-items: center;
        height: max-content;
    }
    .spotify-text{
        width: 100%;
        align-items: center;
        height: max-content;
        font-weight: 900;
    }

    .spotify-player{
        width: 100%;
        align-items: center;
        align-self: center;
        height: max-content;
    }
    iframe{
        margin: auto;
        border-radius:12px;
        width: 288px;
        height: 162px;
    }
}

@media only screen and (min-width: 800px){
    .contact{
        padding: 17px;
        display: flex;
        max-width: 1300px;
        margin: auto;
        justify-content: center;
        align-items: center;
    }

    .title-button{
        width: 50%;
        margin: auto;
        align-items: center;
        text-align: center;
    }
}

@media only screen and (max-width: 799px){
    .contact{
        padding: 17px;
        display: block;
        max-width: 1300px;
        margin: auto;
        justify-content: center;
        align-items: center;
    }

    .title-button{
        width: 50%;
        align-items: center;
        text-align: center;
        margin: auto auto 15px;
    }
}

.email-copy{
    width: 140px;
    height: 40px;
    border-radius: 8px;
    border: 0;
    margin: auto;
    color: #FFF4F4;
    font-family: 'Rubik', serif;
    background-color: black !important;
}

.contact-text-area{
    text-align: left;
    width: 50%;
    margin: auto;
    font-family: 'Rubik', serif;
    font-weight: 900;
}

.debut{
    max-width: 1300px;
    justify-items: left;
    text-align: left;
    padding: 17px;
    margin: 100px auto;
}

.debut-title{
    margin-bottom: 75px;
}

.debut-title h2{
    display: block;
    font-size: clamp(30px, 2.629rem + ((1vw - 3px) * 2.963), 10px);
    font-style: normal;
    font-weight: 900;
    line-height: 1.1;
    text-transform: uppercase;
    text-decoration: underline;
}

.debut-contact{
    background-color: black;
    color: white;
    padding-top: 40px;
    padding-bottom: 40px;
}
.debut-text{
    width: 70%;
}

.debut-text p{
    height: max-content;
    font-weight: 900;
}

.contact-info{
    width: 70%;
}

.contact-info h3,h4{
    height: max-content;
    font-weight: 900;
    margin-bottom: 15px;
}

.contact-info h2{
    display: block;
    font-size: clamp(30px, 2.629rem + ((1vw - 3px) * 2.963), 10px);
    font-style: normal;
    font-weight: 900;
    line-height: 1.1;
    text-transform: uppercase;
    text-decoration: underline;
    margin-bottom: 25px;
}

@media only screen and (min-width: 670px) {
    .team-content{
        padding: 17px;
        display: flex;
        max-width: 1300px;
        margin: auto;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (max-width: 669px) {
    .team-content{
        padding: 17px;
        display: block;
        max-width: 1300px;
        margin: auto;
        justify-content: center;
        align-items: center;
    }
}

.team-content-title{
    padding: 45px;
    max-width: 1300px;
    margin: 50px auto 25px;
    justify-content: left;
    align-items: start;
}

.team-title h2{
    display: block;
    font-size: clamp(30px, 2.629rem + ((1vw - 3px) * 2.963), 10px) !important;
    font-style: normal;
    font-weight: 900 !important;
    line-height: 1.1 !important;
    text-transform: uppercase;
    text-decoration: underline;
}

.imageplaceholder{
    width: 150px;
}

.team-member{
    width: 50%;
    display: flex;
}

.team-member-text{
    display: block;
    margin-left: 20px;
    padding-top: 35px;
}

.team-member-text h3,h4{
    display: block;
    font-size: clamp(20px, 2.629rem + ((1vw - 3px) * 2.963), 10px) !important;
    font-style: normal;
    font-weight: 900 !important;
    line-height: 1.1 !important;
    text-transform: uppercase;
}

.text-9xl {
    font-size: 6rem !important;
    line-height: 1;
}

@media not all and (min-resolution:.001dpcm){
	
    .top-28 {
        top: 7rem !important;
    }
    
    .top-32 {
        top: 11rem !important;
    }
    
    .top-36 {
        top: 10rem !important;
    }
    
    .top-16 {
        top: 4rem !important;
    }
	
}

.top-28 {
    top: 14rem !important;
}

.top-32 {
    top: 23rem !important;
}

.top-36 {
    top: 20rem !important;
}

.top-16 {
    top: 8rem !important;
}

.bg-black{
    --tw-bg-opacity: 1;
    background-color: rgb(255 244 244 / var(--tw-bg-opacity)) !important;
}

.social-link {
    box-shadow: inset 0 0 0 0 #000000;
    color: black;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    text-decoration: none;
}
.social-link:hover {
    box-shadow: inset 600px 0 0 0 #000000;
    color: white;
    text-decoration: none;
}

body::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
}

/* Track */
body::-webkit-scrollbar-track {
    background: #595959;
    border-radius: 10px;
}

/* Handle */
body::-webkit-scrollbar-thumb {
    background: #333333;
    border-radius: 10px;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
    background: #262626;
}

::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #595959;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #333333;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #262626;
}
.footer{
    bottom: 0;
    width: 100%;
    background-color: black;
    min-height: 300px;
    max-height: max-content;
}

.text-area{
    margin: auto;
    max-width: 1300px;
    text-align: center;
    padding-top: 50px;
    align-items: center;
}

.footer-title{
    color: white;
    display: block;
    font-size: clamp(42px, 2.629rem + ((1vw - 3px) * 2.963), 80px);
    font-style: normal;
    font-weight: 900;
    line-height: 1.1;
    text-transform: uppercase;
}

.copyright{
    color: white;
    display: block;
    font-size: clamp(12px, 2.629rem + ((1vw - 3px) * 2.963), 10px);
    font-style: normal;
    font-weight: 200;
    line-height: 1.1;
    text-transform: uppercase;
}