@charset "utf-8";
/* CSS Document */
body{
	background-color: #FFF4F4;
	font-size: clamp(14px, 0.875rem + ((1vw - 3.2px) * 0.156), 16px);
	color: black;
}
a{
	color: black;
	font-style: bold;
	text-decoration: none;
}
a:hover{
	color: black;
}

.welcome{
	margin: auto;
	max-width: 1300px;
	margin-top: 75px;
	padding: 17px;
}

.welcome h3{
	font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
	text-decoration: underline;
}

.welcome h2{
	display: block;
	font-size: clamp(42.068px, 2.629rem + ((1vw - 3.2px) * 2.963), 80px);
    font-style: normal;
    font-weight: 900;
    line-height: 1.1;
    text-transform: uppercase;
	text-decoration: underline;
}

.social-welcome h2{
	display: block;
	font-size: clamp(42.068px, 2.629rem + ((1vw - 3.2px) * 2.963), 80px);
    font-style: normal;
    font-weight: 900;
    line-height: 1.1;
    text-transform: uppercase;
	text-decoration: none !important;
}

.spotify-title-text{
	display: block;
	font-size: clamp(30.068px, 2.629rem + ((1vw - 3.2px) * 2.963), 10px);
    font-style: normal;
    font-weight: 900;
    line-height: 1.1;
    text-transform: uppercase;
	text-decoration: underline;
}

.spotify-texts{
	font-family: 'Rubik';
}

.twitch{
	background-color: #9146FF;
}

.youtube{
	background-color: #FF0000;
}

@media only screen and (min-width: 1300px) {
    .spotify-div{
		padding: 17px;
		display: flex;
		max-width: 1300px;
		margin: auto;
		justify-content: center;
		align-items: center;
		height: max-content;	
	}
	.spotify-text{
		width: 50%;
		align-items: center;
		height: max-content;
		font-weight: 900;
	}
	
	.spotify-player{
		width: 50%;
		align-items: center;
		height: max-content;
	}
	iframe{
		margin: auto;
		border-radius:12px; 
		width: 100%; 
		height: 351px;
	}
}

@media only screen and (min-width: 1000px) and (max-width: 1299px) {
    .spotify-div{
		padding: 17px;
		display: flex;
		margin: auto;
		justify-content: center;
		align-items: center;
		height: max-content;	
	}
	.spotify-text{
		width: 50%;
		align-items: center;
		height: max-content;
		font-weight: 900;
	}
	
	.spotify-player{
		width: 50%;
		align-items: center;
		height: max-content;
	}
	iframe{
		margin: auto;
		border-radius:12px; 
		width: 496px; 
		height: 279px;
	}
}

@media only screen and (min-width: 660px) and (max-width: 999px) {
    .spotify-div{
		padding: 17px;
		margin: auto;
	}
	.spotify-text{
		margin: auto;
		width: 80%;
		align-items: center;
		height: max-content;
		font-weight: 900;
		padding: 10px;
	}
	
	.spotify-player{
		margin: auto;
		width: 80%;
		align-items: center;
		align-self: center;
		height: max-content;
		padding: 10px;
	}
	iframe{
		margin: auto;
		border-radius:12px; 
		width: 496px; 
		height: 279px;
	}
}

@media only screen and (max-width: 659px) {
    .spotify-div{
		padding: 17px;
		display: block;
		margin: auto;
		justify-content: center;
		align-items: center;
		height: max-content;	
	}
	.spotify-text{
		width: 100%;
		align-items: center;
		height: max-content;
		font-weight: 900;
	}
	
	.spotify-player{
		width: 100%;
		align-items: center;
		align-self: center;
		height: max-content;
	}
	iframe{
		margin: auto;
		border-radius:12px; 
		width: 288px; 
		height: 162px;
	}
}

@media only screen and (min-width: 800px){
	.contact{
		padding: 17px;
		display: flex;
		max-width: 1300px;
		margin: auto;
		justify-content: center;
		align-items: center;	
	}

	.title-button{
		width: 50%;
		margin: auto;
		align-items: center;
		text-align: center;
	}
}

@media only screen and (max-width: 799px){
	.contact{
		padding: 17px;
		display: block;
		max-width: 1300px;
		margin: auto;
		justify-content: center;
		align-items: center;	
	}

	.title-button{
		width: 50%;
		margin: auto;
		align-items: center;
		text-align: center;
		margin-bottom: 15px;
	}
}

.email-copy{
	width: 140px;
	height: 40px;
	border-radius: 8px;
	border: 0px;
	margin: auto;
	color: #FFF4F4;
	font-family: 'Rubik';
	background-color: black !important;
}

.contact-text-area{
	text-align: left;
	width: 50%;
	margin: auto;
	font-family: 'Rubik';
	font-weight: 900;
}

.debut{
	max-width: 1300px;
	justify-items: left;
	text-align: left;
	padding: 17px;
	margin: auto;
	margin-top: 100px;
	margin-bottom: 100px;
}

.debut-title{
	margin-bottom: 75px;
}

.debut-title h2{
	display: block;
	font-size: clamp(30.068px, 2.629rem + ((1vw - 3.2px) * 2.963), 10px);
    font-style: normal;
    font-weight: 900;
    line-height: 1.1;
    text-transform: uppercase;
	text-decoration: underline;
}

.debut-contact{
	background-color: black;
	color: white;
	padding-top: 40px;
	padding-bottom: 40px;
}
.debut-text{
	width: 70%;
}

.debut-text p{
	height: max-content;
	font-weight: 900;
}

.contact-info{
	width: 70%;
}

.contact-info h3,h4{
	height: max-content;
	font-weight: 900;
	margin-bottom: 15px;
}

.contact-info h2{
	display: block;
	font-size: clamp(30.068px, 2.629rem + ((1vw - 3.2px) * 2.963), 10px);
    font-style: normal;
    font-weight: 900;
    line-height: 1.1;
    text-transform: uppercase;
	text-decoration: underline;
	margin-bottom: 25px;
}

@media only screen and (min-width: 670px) {
	.team-content{
		padding: 17px;
		display: flex;
		max-width: 1300px;
		margin: auto;
		justify-content: center;
		align-items: center;
	}
}

@media only screen and (max-width: 669px) {
	.team-content{
		padding: 17px;
		display: block;
		max-width: 1300px;
		margin: auto;
		justify-content: center;
		align-items: center;
	}
}

.team-content-title{
	padding: 45px;
	max-width: 1300px;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 25px;
	justify-content: left;
	align-items: start;
}

.team-title h2{
	display: block;
	font-size: clamp(30.068px, 2.629rem + ((1vw - 3.2px) * 2.963), 10px) !important;
	font-style: normal;
	font-weight: 900 !important;
	line-height: 1.1 !important;
	text-transform: uppercase;
	text-decoration: underline;
}

.imageplaceholder{
	width: 150px;
}

.team-member{
	width: 50%;
	display: flex;
	align-items: left;
}

.team-member-text{
	display: block;
	margin-left: 20px;
	padding-top: 35px;
}

.team-member-text h3,h4{
	display: block;
	font-size: clamp(20.068px, 2.629rem + ((1vw - 3.2px) * 2.963), 10px) !important;
	font-style: normal;
	font-weight: 900 !important;
	line-height: 1.1 !important;
	text-transform: uppercase;
}

.text-9xl {
    font-size: 6rem !important;
    line-height: 1;
}

.top-28 {
    top: 14rem !important;
}

.top-32 {
    top: 23rem !important;
}

.top-36 {
    top: 20rem !important;
}

.top-16 {
    top: 8rem !important;
}

.bg-black{
	--tw-bg-opacity: 1;
    background-color: rgb(255 244 244 / var(--tw-bg-opacity)) !important;
}

.social-link {
	margin-top: 20px;
	box-shadow: inset 0 0 0 0 #000000;
	color: black;
	margin: 0 -.25rem;
  	padding: 0 .25rem;
	transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
	text-decoration: none;
}
.social-link:hover {
	box-shadow: inset 600px 0 0 0 #000000;
	color: white;
	text-decoration: none;
}
  
body::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
  }
  
  /* Track */
  body::-webkit-scrollbar-track {
    background: #595959; 
    border-radius: 10px;
  }
   
  /* Handle */
  body::-webkit-scrollbar-thumb {
    background: #333333; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  body::-webkit-scrollbar-thumb:hover {
    background: #262626; 
  }

  ::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #595959; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #333333; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #262626; 
  }
